@using AdaKurumsal.DataLayer
@inject ILayoutDataService LayoutService
@using System.Globalization
@{
    var data = await LayoutService.GetLayout();
    var currentCulture = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;

}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>Inside Medikal</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Feyza Köse - Tasarım Balonu - https://tasarimbalonu.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/favicon" href="~/img/favicon.png">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link href="~/assets/libs/toastr/toastr.min.css" rel="stylesheet" />
    <!-- simple-line icon -->
    <link rel="stylesheet" type="text/css" href="~/css/simple-line-icons.css">
    <!-- font-awesome icon -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="~/css/themify-icons.css">
    <!-- ion icon -->
    <link rel="stylesheet" type="text/css" href="~/css/ionicons.min.css">
    <!-- owl slider -->
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.min.css">
    <!-- swiper -->
    <link rel="stylesheet" type="text/css" href="~/css/swiper.min.css">
    <!-- animation -->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <!-- style -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/style4.css">

    <link rel="stylesheet" type="text/css" href="~/css/responsive4.css">
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/loader.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <style>
        @@media(max-width: 991px) {
            .grid-4-product .grid-pro ul.grid-product li.grid-items {
                width: calc(50% - 30px);
                margin-left: 30px;
                margin-bottom: 15px;
            }

                .grid-4-product .grid-pro ul.grid-product li.grid-items .pro-price {
                    margin-bottom: 15px;
                }

                .grid-4-product .grid-pro ul.grid-product li.grid-items .tr-pro-img a {
                    text-align: center;
                }

                .grid-4-product .grid-pro ul.grid-product li.grid-items .tr-pro-img img {
                    margin: 0 auto;
                }
        }

        @@media(max-width: 767px) {
            .grid-4-product .grid-pro ul.grid-product li.grid-items {
                width: 100%;
                margin-left: 0px;
                margin-bottom: 15px;
            }

                .grid-4-product .grid-pro ul.grid-product li.grid-items .pro-price {
                    margin-bottom: 15px;
                }

                .grid-4-product .grid-pro ul.grid-product li.grid-items .tr-pro-img a {
                    text-align: center;
                }

                .grid-4-product .grid-pro ul.grid-product li.grid-items .tr-pro-img img {
                    margin: 0 auto;
                }
        }
    </style>
    @RenderSection("googleScripts", false);
</head>

<body>
    <div class="loading" id="loading" style="display:none">Loading&#8230;</div>

    <!-- top notificationbr start -->
    <section class="top-4">
        <div class="container">
            <div class="row ">
                <div class="col">
                    <ul class="top-home">
                        <li class="top-home-li t-content">
                            <!-- information start -->
                            <div class="top-content">
                                <ul class="top-contect">
                                    <li><a href="#"><i class="ti-mobile"></i> @data.Iletisim.Telefon1</a></li>
                                    <li><a href="#"><i class="ti-email"></i> @data.Iletisim.Email1</a></li>
                                </ul>
                            </div>
                            <!-- information end -->
                        </li>
                        <li class="top-home-li">
                            <ul class="top-dropdown">
                                <li class="top-dropdown-li notification-title">

                                    <a href="/@Localizer["dil"]/@Localizer["hakkimizdaLink"]">@Localizer["hakkimizda"]</a>
                                </li>
                                <li class="top-dropdown-li notification-title">
                                    @* <a href="~/@LanguageHandler.getLanguage()/@Kit.convertLink(WebUI.Resource.menu.Bayilerimiz)">@WebUI.Resource.menu.Bayilerimiz</a> *@
                                    <a href="#">@Localizer["bayilerimiz"]</a>
                                </li>
                                <li class="top-dropdown-li notification-title">
                                    @*   <a href="~/@LanguageHandler.getLanguage()/@Kit.convertLink(WebUI.Resource.menu.Iletisim)">@WebUI.Resource.menu.Iletisim</a> *@
                                    <a href="#">@Localizer["iletisim"]</a>
                                </li>
                                <li class="top-dropdown-li notification-title"><a href="~/yonetim">Yönetim</a></li>

                                <!-- currency start -->
                                <li class="top-dropdown-li">
                                    <a href="javascript:void(0)">@currentCulture.ToUpper()</a>
                                    <i class="ion-ios-arrow-down"></i>
                                    <ul class="currency">
                                        <li><a href="/Lang?culture=tr">TR</a></li>
                                        <li><a href="/Lang?culture=en">EN</a></li>

                                    </ul>
                                </li>
                                <!-- currency end -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- top notificationbr start -->
    <!-- header start -->
    <header class="header-area">
        <div class="header-main-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header-main">
                            <!-- logo start -->
                            <div class="header-element logo">
                                <a href="~/@currentCulture">
                                    <img src="~~/img/logo.png" alt="logo-image" height="64" class="img-fluid">
                                </a>
                            </div>
                            <!-- logo end -->
                            <!-- search start -->
                            <div class="header-element header-search">
                                @*@using (Html.BeginForm("AramaSonuclari", "Site",  new { id = "aramaForm" }))
                                {*@
                                <form style="position:relative">
                                    <input type="text" name="kelime" id="kelime" placeholder="@Localizer["urun_arama"]">
                                    <button type="button" onclick="arama()" class="search-btn"><i class="fa fa-search"></i></button>
                                    <div class="searchPreview" style="position:absolute;top:50px;background-color:#fff;">
                                        <ul class="w-100">
                                            @* @Html.Partial("~/Views/Site/pwSearchPreview.cshtml", new List<Urun>()) *@
                                        </ul>
                                    </div>
                                </form>
                                @*}*@
                            </div>
                            <!-- search end -->
                            <!-- header icon start -->
                            <div class="header-element right-block-box">
                                <ul class="shop-element">
                                    <li class="side-wrap nav-toggler">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                                            <span class="line"></span>
                                        </button>
                                    </li>
                                    <li class="side-wrap search-wrap">
                                        <!-- mobile search start -->
                                        <div class="search-rap">
                                            <a href="#search-modal" class="search-popuup" data-bs-toggle="modal"><i class="ion-ios-search-strong"></i></a>
                                        </div>
                                        <!-- mobile search end -->
                                    </li>
                                    <li class="side-wrap wishlist-wrap">
                                        <a href="~/@currentCulture/@Localizer["teklif_iste_link"]" title="@Localizer["teklif_iste"]" class="header-wishlist btn btn-sm btn-primary" style="background-color: #0facd7; border-color: #0facd7 ">
                                            @Localizer["teklif_iste"]
                                        </a>
                                    </li>
                                    <li class="side-wrap cart-wrap">
                                        <div class="shopping-widget">
                                            <div class="shopping-cart">
                                                <a href="javascript:void(0)" class="cart-count">
                                                    <span class="cart-icon-wrap">
                                                        <span class="cart-icon"><i class="icon-handbag"></i></span>
                                                        <span id="cart-total" class="bigcounter">@* @sepetList.Count *@0</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- header icon start -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- menu start  -->
            <section class="menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="top-menu">
                                <!-- megamenu start -->
                                <div class="header-element megamenu-content">
                                    <div class="mainwrap">
                                        <ul class="main-menu">
                                          @*   @foreach (var item in kategoriListesi)
                                            {
                                                if (item.id != 1 && item.id != 2)
                                                {
                                                    <li class="menu-link parent">
                                                        <a href="~/@LanguageHandler.getLanguage()/@WebUI.Resource.baslik.Kategori/@item.id/@Kit.convertLink(item.Baslik.Trim())" class="link-title">
                                                            <span class="sp-link-title">@item.Baslik</span>
                                                            @if (item.AltKategoriListesi.Count > 0)
                                                            {
                                                                <i class="fa fa-angle-down"></i>
                                                            }
                                                        </a>
                                                        @if (item.AltKategoriListesi.Count > 0)
                                                        {
                                                            <a href="#collapse-top-@item.id" data-bs-toggle="collapse" class="link-title link-title-lg">
                                                                <span class="sp-link-title">@item.Baslik</span>
                                                                <i class="fa fa-angle-down"></i>
                                                            </a>
                                                            <ul class="dropdown-submenu sub-menu collapse" id="collapse-top-@item.id">

                                                                @foreach (var subitem in item.AltKategoriListesi)
                                                                {
                                                                    <li class="submenu-li">
                                                                        <a href="~/@LanguageHandler.getLanguage()/@WebUI.Resource.baslik.Kategori/@subitem.id/@Kit.convertLink(subitem.Baslik.Trim())" class="submenu-link">@subitem.Baslik</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </li>
                                                }
                                            } *@

                                        </ul>
                                    </div>
                                </div>
                                <!-- megamenu end -->
                                <!-- hotline start -->
                                <div class="offer">
                                    <a href="~/@currentCulture/@Localizer["tum_kataloglar_link"]"><i class="ti-tag"></i> @Localizer["tum_kataloglar"]</a>
                                </div>
                                <!-- hotline end -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- menu end -->
        </div>
        <!-- mobile menu start -->
        <div class="header-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="main-menu-area">
                            <div class="main-navigation navbar-expand-xl">
                                <div class="box-header menu-close">
                                    <button class="close-box" type="button"><i class="ion-close-round"></i></button>
                                </div>
                                <div class="navbar-collapse" id="navbarContent">
                                    <!-- main-menu start -->
                                    <div class="megamenu-content">
                                        <div class="mainwrap">
                                            <ul class="main-menu">
                                             @*    @foreach (var item in kategoriListesi)
                                                {
                                                    <li class="menu-link @(item.AltKategoriSayisi >0 ? "parent":"")">
                                                        <a href="~/@LanguageHandler.getLanguage()/@WebUI.Resource.baslik.Kategori/@item.id/@Kit.convertLink(item.Baslik.Trim())" class="link-title">
                                                            <span class="sp-link-title">@item.Baslik</span>
                                                            @if (item.AltKategoriListesi.Count > 0)
                                                            {
                                                                <i class="fa fa-angle-down"></i>
                                                            }
                                                        </a>
                                                        @if (item.AltKategoriListesi.Count > 0)
                                                        {
                                                            <a href="#collapse-home-@item.id" data-bs-toggle="collapse" class="link-title link-title-lg">
                                                                <span class="sp-link-title">@item.Baslik</span>
                                                                <i class="fa fa-angle-down"></i>
                                                            </a>
                                                            <ul class="dropdown-submenu sub-menu collapse" id="collapse-home-@item.id">

                                                                @foreach (var subitem in item.AltKategoriListesi)
                                                                {
                                                                    <li class="submenu-li">
                                                                        <a href="~/@LanguageHandler.getLanguage()/@WebUI.Resource.baslik.Kategori/@subitem.id/@Kit.convertLink(subitem.Baslik.Trim())" class="submenu-link">@subitem.Baslik</a>
                                                                    </li>
                                                                }

                                                            </ul>
                                                        }
                                                    </li>

                                                } *@

                                                <li class="menu-link"><a class="link-title" href="~/@currentCulture/@Localizer["tum_kataloglar_link"]">@Localizer["tum_kataloglar"]</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- main-menu end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile menu end -->
        <!-- minicart start -->
        <div class="mini-cart" id="sepetModal">
           @*  @Html.Partial("~/Views/Site/pwSepetModal.cshtml") *@
        </div>
        <!-- minicart end -->
        <!-- search start -->
        <div class="modal fade" id="search-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="search-content">
                                        <div class="search-engine">
                                            <input type="text" name="search" placeholder="@Localizer["urun_arama"]">
                                            <button class="search-btn" type="button"><i class="ion-ios-search-strong"></i></button>
                                        </div>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i class="ion-close-round"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- search end -->
    </header>
    <!-- header end -->
    @RenderBody()

  

    <script src="~/js/modernizr-2.8.3.min.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous"></script>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <!-- bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="/assets/libs/toastr/toastr.min.js"></script>
    <!-- popper -->
    <script src="~/js/popper.min.js"></script>
    <!-- fontawesome -->
    <script src="~/js/fontawesome.min.js"></script>
    <!-- owl carousal -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- swiper -->
    <script src="~/js/swiper.min.js"></script>
    <!-- custom -->
    <script src="~/js/custom.js"></script>
</body>
</html>