<!DOCTYPE html>
<html lang="en">
<head>
   
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- title -->
        <title>Inside Medikal</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Feyza Köse - Tasarım Balonu - https://tasarimbalonu.com">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/favicon" href="~/img/favicon.png">
        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

        <link href="~/assets/libs/toastr/toastr.min.css" rel="stylesheet" />
        <!-- simple-line icon -->
        <link rel="stylesheet" type="text/css" href="~/css/simple-line-icons.css">
        <!-- font-awesome icon -->
        <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
        <!-- themify icon -->
        <link rel="stylesheet" type="text/css" href="~/css/themify-icons.css">
        <!-- ion icon -->
        <link rel="stylesheet" type="text/css" href="~/css/ionicons.min.css">
        <!-- owl slider -->
        <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.min.css">
        <!-- swiper -->
        <link rel="stylesheet" type="text/css" href="~/css/swiper.min.css">
        <!-- animation -->
        <link rel="stylesheet" type="text/css" href="~/css/animate.css">
        <!-- style -->
        <link href="~/css/style.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="~/css/style4.css">

        <link rel="stylesheet" type="text/css" href="~/css/responsive4.css">
        <link href="~/css/custom.css" rel="stylesheet" />
        <link href="~/css/loader.css" rel="stylesheet" />
        @RenderSection("styles", false)
        <style>
            @@media(max-width: 991px) {
                .grid-4-product .grid-pro ul.grid-product li.grid-items {
                    width: calc(50% - 30px);
                    margin-left: 30px;
                    margin-bottom: 15px;
                }

                    .grid-4-product .grid-pro ul.grid-product li.grid-items .pro-price {
                        margin-bottom: 15px;
                    }

                    .grid-4-product .grid-pro ul.grid-product li.grid-items .tr-pro-img a {
                        text-align: center;
                    }

                    .grid-4-product .grid-pro ul.grid-product li.grid-items .tr-pro-img img {
                        margin: 0 auto;
                    }
            }

            @@media(max-width: 767px) {
                .grid-4-product .grid-pro ul.grid-product li.grid-items {
                    width: 100%;
                    margin-left: 0px;
                    margin-bottom: 15px;
                }

                    .grid-4-product .grid-pro ul.grid-product li.grid-items .pro-price {
                        margin-bottom: 15px;
                    }

                    .grid-4-product .grid-pro ul.grid-product li.grid-items .tr-pro-img a {
                        text-align: center;
                    }

                    .grid-4-product .grid-pro ul.grid-product li.grid-items .tr-pro-img img {
                        margin: 0 auto;
                    }
            }
        </style>
        @RenderSection("googleScripts", false);
    </head>

<body>
    <div class="loading" id="loading" style="display:none">Loading&#8230;</div>

    <!-- top notificationbr start -->
    <section class="top-4">
        <div class="container">
            <div class="row ">
                <div class="col">
                    <ul class="top-home">
                        <li class="top-home-li t-content">
                            <!-- information start -->
                            <div class="top-content">
                                <ul class="top-contect">
                                    <li><a href="#"><i class="ti-mobile"></i> (0362) 437 37 70</a></li>
                                    <li><a href="#"><i class="ti-email"></i> info@insidemedikal.com</a></li>
                                </ul>
                            </div>
                            <!-- information end -->
                        </li>
                        <li class="top-home-li">
                            <ul class="top-dropdown">
                                <li class="top-dropdown-li notification-title">
                                   
                                    <a href="/@Localizer["dil"]/@Localizer["hakkimizdaLink"]">@Localizer["hakkimizda"]</a>
                                </li>
                                <li class="top-dropdown-li notification-title">
                                    @* <a href="~/@LanguageHandler.getLanguage()/@Kit.convertLink(WebUI.Resource.menu.Bayilerimiz)">@WebUI.Resource.menu.Bayilerimiz</a> *@
                                    <a href="#">@Localizer["bayilerimiz"]</a>
                                </li>
                                <li class="top-dropdown-li notification-title">
                                  @*   <a href="~/@LanguageHandler.getLanguage()/@Kit.convertLink(WebUI.Resource.menu.Iletisim)">@WebUI.Resource.menu.Iletisim</a> *@
                                    <a href="#">@Localizer["iletisim"]</a>
                                </li>


                                <!-- currency start -->
                                <li class="top-dropdown-li">
                                    <a href="javascript:void(0)">Dil</a>
                                    <i class="ion-ios-arrow-down"></i>
                                    <ul class="currency">
                                        <li><a href="/Lang?culture=tr">TR</a></li>
                                        <li><a href="/Lang?culture=en">EN</a></li>

                                    </ul>
                                </li>
                                <!-- currency end -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- top notificationbr start -->

            @RenderBody()
      
    
</body>
</html>